<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Nuevo artículo</title>
    <%- include("partials/head") %>
  </head>
  <body class="bg-gradient vh-100" style="background-color: #ccc;">
    <%- include("partials/navbar") %>

    <div class="container py-4">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <form>
          <input type="button" class="btn btn-success" value="← Volver" onclick="history.back()" />
        </form>
        <h1>Nuevo artículo</h1>
      </div>

      <form action="/admin/articulo" method="POST" enctype="multipart/form-data">
        <div class="form-floating mb-3 mt-3">
          <input
            type="text"
            id="title"
            name="title"
            class="form-control"
            placeholder="Título..."
            required
          />
          <label for="title" class="form-label fs-6">Título</label>
        </div>
        <div class="form-floating mb-3 mt-3">
          <textarea
            id="content"
            name="content"
            class="form-control"
            style="min-height: 200px"
            rows="10"
            placeholder="Contenido..."
            required
          ></textarea>
          <label for="content" class="form-label">Contenido</label>
        </div>
        <div class="form-floating mb-3 mt-3">
          <input type="file" id="image" name="image" class="form-control" />
          <label for="image" class="form-label fs-6">Imágen</label>
        </div>
        <div class="d-flex align-items-center justify-content-center mb-3">
          <img id="img" src="" alt="" style="max-height: 300px; max-width: 400px;">
        </div>
        <div class="d-flex justify-content-between">
          <small class="text-muted"><%= `${user.firstname} ${user.lastname}` %></small>
          <input type="text" class="d-none" name="userId" value="<%= user.id %>" />
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
      </form>
    </div>

    <%- include("partials/footer") %>
    <script>
      document.querySelector("#btn-back", () => {
        history.back();
      });
      document.querySelector("#image").onchange = () => {
        document.querySelector("#img").src = URL.createObjectURL(document.querySelector("#image").files[0])
      }
    </script>
  </body>
</html>
